- if OmnitureRails::TREES[controller_name.to_sym]
  :plain
    <!-- SiteCatalyst code version: H.1. Copyright 1997-2005 Omniture, Inc. More info available at http://www.omniture.com -->
    <script language="JavaScript"><!--
      #{render :partial => "shared/omniture_javascript"}
      //--></script>
      <script language="JavaScript"><!--
      if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
      //--></script><noscript><img
      src="#{OmnitureRails.config.noscript_img_src}"
      height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->
      <!-- End SiteCatalyst code version: H.1. -->